body {
    font-family: 'Arial', sans-serif;
    margin-top: 1000px;
    padding-top: 1000%;
  }
  
  /* Estilo del carrusel */
  .carousel img {
    object-fit: cover;
    height: 400px; /* Altura fija del carrusel */
  }

  /* Sección "Acerca de mí" */
  .contenedor-1 {
    background-color: #000000; /* Fondo claro */
  }
  
  .contenedor-1 h2 {
    font-weight: bold; /* Negrita para el título */
    color: #d3c888;
  }
  
  .contenedor-1 p {
    color: #fff3f3; /* Texto en gris oscuro */
  }
  
  /* Imágenes con bordes redondeados y sombra */
  .img-fluid {
    border-radius: 10px;
  }
  
  .sombra {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }